<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div id="flex-container">
      <div id="logo">
        <img src="/assets/img/logo.jpg" alt="YD Logo" width="60" />
      </div>
      <div id="menu">
        <button mat-flat-button><mat-icon>home</mat-icon></button>
        <button mat-flat-button><mat-icon>dashboard</mat-icon></button>
      </div>
      <div id="bottom-menu">
        <button mat-flat-button><mat-icon>notifications</mat-icon></button>
        <button mat-flat-button><mat-icon>settings</mat-icon></button>
        <button mat-flat-button><mat-icon>logout</mat-icon></button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-table></app-table>
  </mat-drawer-content>
</mat-drawer-container>
